<p>Resume Records: </p>
<br>
<table>
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Resume Title</td>
            <td>delete</td>

        </tr>
    </thead>
        <tbody>
        <% response.forEach(function(i) { %>
        <tr>
            <td><%= i.first_name %></td>
            <td><%= i.last_name %></td>
            <td><%= i.resume_name %></td>
            <td><a href="/resume/delete/<%=i.account_id%>">Delete</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>
<p>Email, First, Last name</p>
<form action="/resume/all/selectUser/<%=%>" method="POST">
    <input type="'text" name='resume[first_name]'>
    <input type="'text" name='resume[last_name]'>
    <input type="'text" name='resume[resume_description]'>
    <button type="submit">submit</button>
</form>